* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

/* -------------------------main section starts ------------------------------*/
#trend-section {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid black; */
  display: flex;
}
.left-slider {
  width: 45%;
  margin: auto;
  height: 100%;
  position: relative;
  border-radius: 5px;
}

.slides {
  display: none;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.left-button,
.right-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
}
.left-button > a,
.right-button > a {
  color: #fff;
}
.left-button {
  left: 10px;
}
.right-button {
  right: 10px;
}
.dot-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.active,
.dot:hover {
  background-color: #0369ff;
}
.right-content {
  width: 54%;
  display: flex;
  margin: auto;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.deals-of-the-day {
  border: 1px solid rgb(228, 228, 228);
  width: 100%;
  height: 49%;
  border-radius: 5px;
}
.deals-of-the-day > h3 {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline;
}
.timer-title {
  color: red;
  display: inline-block;
  font-size: 0.7rem;
}
.deals-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  font-size: 0.8rem;
}
.deals-items {
  height: 100%;
  padding: 5px 16px;
  position: relative;
}
.deals-img {
  width: 90%;
}
.deals-off {
  display: inline-block;
  font-size: 0.8rem;
  background-color: rgb(244, 62, 62);
  color: white;
  padding: 1px 10px;
  border-radius: 10px;
}
.deals-price > span {
  display: block;
  font-weight: 700;
  font-size: 1rem;
}
.deals-claimed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deals-claimed > span {
  font-size: 0.6rem;
  color: #777;
  display: block;
}
.bar-box {
  background-color: #e3eeff;
  height: 6px;
  border-radius: 5px;
  width: 70%;
}
.bar {
  background-color: #0369ff;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.featured-products {
  width: 100%;
  height: 49%;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
}
.featured-products > h3 {
  font-size: 1.6rem;
}
.featured-products-deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  font-size: 0.8rem;
}
/*Trending section*/
#trending-cat {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
#trending-cat > h1 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: 700;
}
.trending-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
.trending-div > div {
  border: 1px solid rgb(216, 216, 216);
  font-size: 0.8rem;
}
.trending-div > div > .heading {
  font-size: 1.2rem;
  font-weight: 700;
}
.trending-div > div > p {
  margin: 7px 10px;
  padding-bottom: 10px;
}
.trending-div > div > img {
  width: 100%;
}
#new-for-you {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #0369ff;
  background-color: #f0f5fd;
}
#new-for-you > h1 {
  font-size: 1.6rem;
  display: inline;
  margin-right: 20px;
  margin-left: 10px;
}
#new-for-you > a {
  font-size: 1rem;
  text-decoration: none;
  color: #0369ff;
}
.new-for-container {
  border: 1px solid black;
  width: 98%;
  height: 352px;
  margin: auto;
  margin-top: 10px;
  display: flex;
}
.new-left {
  width: 24%;
  border: 1px solid blue;
}
.new-slider {
  margin: auto;
  width: 75%;
  height: 100%;
  border: 1px solid red;
}
